In [47]:
fd= open('Records.txt','r')
txt=fd.read()
fd.close()

In [53]:
products = txt.split("\n")

ui_prod=str(input("Enter the prodcut ID: "))
ui_quan=int(input("Enter the quantity: "))

for i in products:
  prod=i.split(",")
   
  if (ui_prod == prod[0]):
     print("**********************")
     print("Product ID: ",prod[0])
     print("Prod name: ",prod[1])
     print("Prod type: ",prod[4])
     print("Prod price: ",prod[2])
     print("Quant: ",ui_quan)
     print("--------------------------")
     print("Billing Amount:",int(prod[2]) * ui_quan)
     print("**************************")

Enter the prodcut ID: 1001
Enter the quantity: 2
**********************
Product ID:  1001
Prod name:  Pepsi
Prod type:  Drinks
Prod price:  30
Quant:  2
--------------------------
Billing Amount: 60
**************************

In [54]:
products

['1001,Pepsi,30,100,Drinks',
 '1002,Coke,30,100,Drinks',
 '1003,Chocolate,10,100,Sweets',
 '1004,White Bread,50,100,Bread',
 '1005,Kinley,20,50,Drinking water',
 '1006,Iphone11,50000,10,Phone',
 '1007,TV,10000,10,Television',
 '1008,Nothing,5999,10,EarPhone',
 '1009,Airpods1,10000,10,Earphone',
 '1010,Bisleri,20,50,Drinking water',
 '1011,Aquafina,20,50,Drinking water',
 '1012,Slice,30,50,Juice',
 '1013,Towels,100,50,Towel',
 '1014,Sleepwell,2000,10,Beds',
 '1015,Elina,98,50,Rice',
 '1016,ToorDal,50,10,Dal',
 '1017,Durex,110,100,Condom',
 '1018,Lays,20,100,Snacks',
 '1019,Kurkere,20,100,Snacks',
 '1020,Bingo,30,100,Snacks',
 '1021,PotatoChips,20,100,Snacks',
 '1022,Casio,1000,10,Calculator',
 '1023,JBL,9999,10,BluettoothSpeaker',
 '1024,Rubik,400,10,RubikCube',
 '1025,Palento,100,20,Mug',
 '1026,NgawangKollegal,50,100,Chilli',
 '1027,Gangjong,100,50,Chilli',
 '1028,Laphing,50,100,Snacks',
 '1029,Momo,80,50,Food',
 '1030,Mortein,50,50,Plug']

In [59]:
new_record = []

for product in products:
  prod = product.split(",")
  if(ui_prod == prod[0]):
    prod[3] = str(int(prod[3]) - ui_quan)
   
  new_record.append(prod[0] + "," + prod[1] + "," + prod[2] + "," + prod[3]) 
  
new_record[-1]=new_record[-1][:-1]

In [60]:
new_record

['1001,Pepsi,30,98',
 '1002,Coke,30,100',
 '1003,Chocolate,10,100',
 '1004,White Bread,50,100',
 '1005,Kinley,20,50',
 '1006,Iphone11,50000,10',
 '1007,TV,10000,10',
 '1008,Nothing,5999,10',
 '1009,Airpods1,10000,10',
 '1010,Bisleri,20,50',
 '1011,Aquafina,20,50',
 '1012,Slice,30,50',
 '1013,Towels,100,50',
 '1014,Sleepwell,2000,10',
 '1015,Elina,98,50',
 '1016,ToorDal,50,10',
 '1017,Durex,110,100',
 '1018,Lays,20,100',
 '1019,Kurkere,20,100',
 '1020,Bingo,30,100',
 '1021,PotatoChips,20,100',
 '1022,Casio,1000,10',
 '1023,JBL,9999,10',
 '1024,Rubik,400,10',
 '1025,Palento,100,20',
 '1026,NgawangKollegal,50,100',
 '1027,Gangjong,100,50',
 '1028,Laphing,50,100',
 '1029,Momo,80,50',
 '1030,Mortein,50,5']

In [57]:
fd = open("Records.txt",'w')
for i in new_record:
  fd.write(i)
fd.close()